h1 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  color:  #202020;
}

h2 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter;
}

h3 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size:2.0rem;
}

h4 {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 2%;
  transition: all .5s ease-in-out;
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
}

html{
  background-color:#f4f4f4;
}

label {
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-size: 22px;
}

textarea {
  width: 100%;
  border: 1px solid black;
}

header {
  background-color: #202020;
}

i {
  font-size: 30px;
}

p {
  font-family: Helvetica,Arial, sans-serif;
  font-size: 1.0rem;
}

a {
  text-decoration: none;
}

li {
  margin-top: 3%;
  display: flex;
  text-align: left;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.profileLink {
  font-family: 'Kumbh Sans', sans-serif;
  color: white;
  font-weight: lighter;
}


.editProfileSaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #202020;
  font-size: 23px;
  text-decoration: none;
}

.editProfileSaveBtn:hover {
  transition: 0.5s;
  background-color:#547980;
}

.editEntrySaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
}

.naviLink {
  display: flex;
  padding-left: 3%;
  justify-content: space-evenly;
  align-items:baseline;
  padding-top:1%;
}


.profileLinkLast {
  margin-left: 35px;
  font-family: 'Kumbh Sans', sans-serif;
  color: white;
  font-weight: lighter;
}


.selected {
  color: #daba98;
}

.linkStyle {
  text-align: center;
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #202020;
  font-size: 23px;
  text-decoration: none;
}

.linkStyle:hover {
  background-color: #547980;
    transition: 0.5s;
}

.btnStyle {
  margin-top: 1%;
  text-align: right;
}

.header-background {
  display: flex;
  justify-content: end;
  align-items: center;
}

.userInputStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInputForm {
  line-height: 1.8;
}

.profile-info {
  display: flex;
  align-items: center;
}

.wrapper-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user-bio p {
  font-weight: bold;
  line-height: 1.5;
  font-size: 15px;
}

.padding {
  padding-right: 20px;
}

.user-entries {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user-entries .userInputForm:last-child {
  padding-top: 5%;
}

.entries-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entriesSaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #202020;
  font-size: 1rem;
  text-decoration: none;
}

.entriesSaveBtn:hover {
   transition: 0.5s;
  background-color:#547980;
}

.entriesContent {
  display: flex;
  flex-direction: column;
}

.modal-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  border:3px solid black;
  margin-top:15%;
  text-align:center;
  background-color:white;
  max-width:85%;
}

.options {
  display:flex;
  justify-content: space-around;
  padding: 2% 0%;;
}


  .modal-wrapper > h4 {
    font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:lighter;
  }


 .row-fixed-modal{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  height:100vh;
  background:rgba(0,0,0,0.0);
  z-index:1;
  top:0;
  position: fixed;
  right:1%;
  left:.01%;
  transition: all 3s ease-in;
}

.animation-modal {
  background:rgba(0,0,0,0.6);
}

.editEntry , .deleteEntry{
  width: 150px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
  transition: 0.5s;
  }

  .editEntry {
    background-color:#202020;
  }

  .deleteEntry {
    background-color:#ff6e40;
  }

  .editEntry:hover {
    background-color:#344277;
    transform: scale(1.3);

  }

   .deleteEntry:hover {
     background-color:red;
    transform: scale(1.3);

  }

  .optionBtn {
    cursor:pointer;
    width:20%;
    background-color:rgba(0,0,0,0.0);
    transition:0.5s;
  }

  .optionBtn:hover {
    color:white;
    background-color:#547980;
  }

  .searchInput i {
  position:absolute;
  cursor: pointer;
  margin-top:7px;
  margin-left:2px;
  font-size: 20px;
}

.searchInput{
  padding-left:3%;
}

.search {
  padding-left:22px;
}

input.search {
  outline:none;
}

.center{
  display:flex;
}

@media screen and (max-width:375px) {
  h2 {
    font-size:.8rem;
  }

  a.profileLink, a.profileLinkLast {
    font-size:.7rem;
  }
}
