
h1 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

h2 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter;
}

h3 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h4 {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 2%;
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
}

label {
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-size: 22px;
}

textarea {
  width: 100%;
  border: 1px solid black;
}

header {
  background-color: #547980;
}

i {
  font-size: 30px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

li {
  margin-top: 3%;
  display: flex;
  text-align: left;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.profileLink {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter;
}

.editProfileSaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
}

.editEntrySaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
}

.naviLink {
  display: flex;
  padding-left: 3%;
}

a.profileLink:last-child {
  margin-left: 15%;
}

.linkStyle {
  text-align: center;
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
}

.btnStyle {
  margin-top: 1%;
  text-align: right;
}

.header-background {
  display: flex;
  justify-content: end;
  align-items: center;
}

.userInputStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInputForm {
  line-height: 1.8;
}

.profile-info {
  display: flex;
  align-items: center;
}

.wrapper-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user-bio p {
  font-weight: bold;
  line-height: 1.5;
  font-size: 15px;
}

.padding {
  padding-right: 20px;
}

.user-entries {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user-entries .userInputForm:last-child {
  padding-top: 5%;
}

.entries-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entriesSaveBtn {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
}

.entriesContent {
  display: flex;
  flex-direction: column;
}

.modal-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  border:1px solid black;
  margin-top:25%;
  text-align:center;
  background-color:white;
}

.options {
  display:flex;
  justify-content: space-evenly;
  padding:0 25%;
}


  .modal-wrapper > h4 {
    font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:lighter;
  }



 .row-fixed-modal{
   display:flex;
   flex-direction: column;
   align-items:center;
  width: 100%;
  height:100vh;
  background:rgba(0,0,0,0.0);
  z-index:1;
  top:0;
  left:0.01%;

  position:fixed;
  transition: all 1s ease-in;
}

.animation-modal {
  background:rgba(0,0,0,0.6);
}

.editEntry , .deleteEntry{
  width: 150px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
  text-decoration: none;
  transition: 0.5s;
  }

  .editEntry {
    background-color:#1e3d59;
  }

  .deleteEntry {
    background-color:#ff6e40;
  }

  .editEntry:hover {
    background-color:blue;
    transform: scale(1.3);

  }

   .deleteEntry:hover {
     background-color:red;
    transform: scale(1.3);

  }
