
h1 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

h2 {
  font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter;
}

img {
  width: 100%;
  border: 1px solid black;
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
}

label {
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-size: 22px;
}

textarea {
  width: 100%;
  border: 1px solid black;
}

header {
  background-color: #547980;
}

i {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.editProfileSaveBtn,
a {
  width: 75px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5%;
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #547980;
  font-size: 23px;
}

.linkStyle {
  text-align: center;
  text-decoration: none;
}

.btnStyle {
  margin-top: 1%;
  text-align: right;
}

.userInputStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInputForm {
  line-height: 1.8;
}

.profile-info {
  display: flex;
  align-items: center;
}

.wrapper-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user-bio p {
  font-weight: bold;
  line-height: 1.5;
  font-size: 15px;
}

.padding {
  padding-right: 20px;
}
